<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <span class="row card-title">
                    <div class="col s9">
                        <a class="titleLink" href="{{this.link}}">{{this.title}}</a>
                        <div class="card-action">
                            <p class="teaser">{{this.teaser}}</p>
                        </div>
                    </div>
                    <div class="col s3">
                        <a class="articleNotesBtn right waves-effect waves-light btn-large purple" data-id={{this._id}}>Article Notes</a>
                        <a class="deleteArticleBtn right waves-effect waves-light btn-large red" data-id={{this._id}}>Delete From Saved</a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>